{:grouper.gateway.history/get-history
 {}

 :grouper.port.history/history
 {:get-history #ig/ref :grouper.gateway.history/get-history}

  :grouper.cli.group/write-groups
 {:gen-count 1000
  :history-port #ig/ref :grouper.port.history/history}}
